.header {
  font-family: "Audiowide", sans-serif;
  flex: 0 0 15dvh;
  background-color: transparent;
  color: var(--color-2);
  text-align: center;
  padding-top: 0.8rem;
  font-size: 1.6rem;
  text-shadow: 
    -3px -3px 0 #806600,
     3px -3px 0 #806600,
    -3px  3px 0 #806600,
     3px  3px 0 #806600;
}

@media (max-width: 490px) {
  .header {
    font-size: 1.5rem;
    height: 13dvh;
  }
}

@media (max-width: 400px) {
  .header {
    font-size: 1.4rem;
  }
}