.player-deck {
  flex: 1;
  background: var(--color-4);
  border-radius: 10px;
  padding: var(--size-medium);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--size-medium);
  min-height: 220px;
}

.player-deck-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.player-deck .hint {
  margin-top: 8px;
  color: #bbb;
  font-size: var(--size-medium);
}