.tooltip {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0,0,0,0.8);
  color: var(--color-1);
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  font-size: 1.3rem;
  white-space: nowrap;
  pointer-events: none;
}