.app-container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
}

.main-content {
flex: 1;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
position: relative;
height: 77svh;
padding: 0 1rem;
}

main h2 {
  color: #ffde59;
  text-shadow: 
    -1px -1px 0 #806600,
     1px -1px 0 #806600,
    -1px  1px 0 #806600,
     1px  1px 0 #806600;
}