@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&display=swap');

:root {
  --header-bg: #1c1f26;
  --nav-bg: #272b33;
  --footer-bg: #1c1f26;
  --text-light: #f1f1f1;
  --accent: #f4c542;
  --bg-main: #0f1218;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-image: url("https://res.cloudinary.com/damjp56im/image/upload/v1759882966/ring_bipxyc.webp");
  background-size: cover;
  color: var(--text-light);
  font-family: "Poppins", sans-serif;
}