@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&display=swap');

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

:root {
  --size-small: 0.5rem;
  --size-medium: 1rem;
  --size-large: 2rem;
  
  --color-1: whitesmoke;
  --color-2: #f4c542;
  --color-3: rgb(29, 29, 29);
  --color-4: rgba(0, 0, 0, 0.603);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  background-image: url("https://res.cloudinary.com/damjp56im/image/upload/v1759882966/ring_bipxyc.webp");
  background-size: cover;
  color: var(--color-1);
  font-family: "Poppins", sans-serif;
}