.nav {
  font-family: "Bebas Neue", sans-serif;
  font-size: 35px;
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
  background-color: transparent;
  padding: 0.2rem;
}

.nav-link {
  color: var(--text-light);
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: var(--accent);
}

.nav-link.active {
  border-bottom: 6px solid var(--accent);
  padding-bottom: 0.2rem;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}