.footer {
  background-color: var(--color-3);
  color: var(--color-1);
  flex: 0 0 5dvh;
  text-align: center;
  padding: var(--size-medium) var(--size-large);
  font-size: 0.9rem;
}

.footer a {
  color: var(--color-1);
  font-weight: bold;
}

@media (max-width: 950px) {
  .footer {
    padding: var(--size-small) var(--size-large);
  }
}

@media (max-width: 520px) {
  .footer {
    padding: var(--size-small) var(--size-medium);
  }
}

@media (max-width: 490px) {
  .footer {
    height: 7dvh;
  }
}

@media (max-width: 340px) {
  .footer {
    padding: var(--size-small);
  }
}