.rules {
  text-align: center;
  background: var(--color-4);
  padding: var(--size-medium);
  border-radius: 10px;
}

.rules p {
  font-size: 22px;
  padding: 1.5rem;
}

@media (max-width: 1304px) {
  
  .rules {
    margin-top: var(--size-medium);
    padding-bottom: 0;
  }
}

@media (max-width: 1221px) {
  
  .rules p {
    font-size: 21px;
  }
}

@media (max-width: 1053px) {
  
  .rules p {
    font-size: 20px;
    padding: var(--size-medium);
  }
}

@media (max-width: 840px) {
  
  .rules p {
    padding: 0.7rem;
  }
}

@media (max-width: 771px) {
  
  .rules {
    height: 70dvh;
    overflow-y: auto;
    margin-right: var(--size-medium);
  }
}

@media (max-width: 570px) {
  
  .rules p {
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  
  .rules p {
    font-size: 16px;
  }
}

@media (max-width: 375px) and (max-height: 740px) {
  .rules {
    height: 65dvh;
    margin-top: 0;
  }
}

@media (max-width: 1400px) and (max-height: 800px) {
  .rules {
    height: 60dvh;
    margin-top: 0;
    overflow-y: auto;
  }
}