.gameover-modal {
  position: fixed;
  inset: 0;
  background: var(--color-4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  background: var(--color-1);
  padding: var(--size-large) 3rem 0 3rem;
  border-radius: var(--size-medium);
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
}

.modal-content h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.modal-content button {
  padding: 0.7rem 1.5rem;
  background: #0078ff;
  color: var(--color-1);
  border: none;
  border-radius: var(--size-small);
  font-size: var(--size-medium);
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.modal-content button:hover {
  background: #005fd1;
}

.modal-img {
  padding-top: var(--size-medium);
  height: 200px;
}

@media (max-width: 450px) {
  
  .modal-content {
    width: 90%;
  }
}