.gameover-modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  background: white;
  padding: 2rem 3rem 0 3rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
}

.modal-content h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.modal-content button {
  padding: 0.7rem 1.5rem;
  background: #0078ff;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.modal-content button:hover {
  background: #005fd1;
}

.modal-img {
  padding-top: 1rem;
  height: 200px;
}