.home {
  height: 75vh;
  padding-top: 1rem;
}

.home-img {
  height: 100%;
  width: 100%;
  -webkit-mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
  mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
}

@media (max-width: 1024px) and (max-height: 600px) {
  .home-img {
    padding-top: 1rem;
  }
}