.card {
  position: relative;
  width: 100%;
  max-width: 150px;
  aspect-ratio: 3 / 4;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, border-color 0.3s ease;
  background-color: var(--color-1);
}

.card:hover {
  transform: scale(1.05);
}

.card.selected {
  border-color: var(--color-2);
  box-shadow: 0 0 8px var(--color-2);
}

@media (max-width: 755px) {
  .card {
    max-width: 130px;
  }
}

@media (max-width: 590px) {
  .card {
    max-width: 110px;
  }
}

@media (max-width: 450px) {
  .card {
    max-width: 90px;
  }
}

@media (max-width: 1400px) and (max-height: 800px) {

  .card {
    height: 150px;
    width: 100px;
  }
}